@page "/tripdetails/create"
@using Microsoft.EntityFrameworkCore
@using FullSD_Proj_new.Domain
@inject IDbContextFactory<FullSD_Proj_new.Data.FullSD_Proj_newContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>TripDetail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="TripDetail" OnValidSubmit="AddTripDetail" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="TripDetail.Date" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.Date" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="time" class="form-label">Time:</label>
                <input id="time" @bind="TripDetail.Time" class="form-control" type="time" />
                <ValidationMessage For="() => TripDetail.Time" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="desc1" class="form-label">Desc1:</label> 
                <InputText id="desc1" @bind-Value="TripDetail.Desc1" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.Desc1" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="desc2" class="form-label">Desc2:</label> 
                <InputText id="desc2" @bind-Value="TripDetail.Desc2" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.Desc2" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="tripid" class="form-label">TripId:</label> 
                <InputNumber id="tripid" @bind-Value="TripDetail.TripId" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.TripId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="locationid" class="form-label">LocationId:</label> 
                <InputText id="locationid" @bind-Value="TripDetail.LocationId" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.LocationId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="tripdetailstypeid" class="form-label">TripDetailsTypeId:</label> 
                <InputText id="tripdetailstypeid" @bind-Value="TripDetail.TripDetailsTypeId" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.TripDetailsTypeId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="TripDetail.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="TripDetail.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="TripDetail.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="TripDetail.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => TripDetail.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/tripdetails">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private TripDetail TripDetail { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTripDetail()
    {
        using var context = DbFactory.CreateDbContext();
        context.TripDetail.Add(TripDetail);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tripdetails");
    }
}
