@page "/trips"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FullSD_Proj_new.Domain
@using FullSD_Proj_new.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FullSD_Proj_new.Data.FullSD_Proj_newContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trips/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Trip">
    <PropertyColumn Property="trip => trip.TripName" />
    <PropertyColumn Property="trip => trip.Destination" />
    <PropertyColumn Property="trip => trip.TripStartDate" />
    <PropertyColumn Property="trip => trip.TripEndDate" />
    <PropertyColumn Property="trip => trip.UserId" />
    <PropertyColumn Property="trip => trip.DateCreated" />
    <PropertyColumn Property="trip => trip.DateUpdated" />
    <PropertyColumn Property="trip => trip.CreatedBy" />
    <PropertyColumn Property="trip => trip.UpdatedBy" />

    <TemplateColumn Context="trip">
        <a href="@($"trips/edit?id={trip.Id}")">Edit</a> |
        <a href="@($"trips/details?id={trip.Id}")">Details</a> |
        <a href="@($"trips/delete?id={trip.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FullSD_Proj_newContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
