@page "/tripdetailstypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FullSD_Proj_new.Domain
@using FullSD_Proj_new.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FullSD_Proj_new.Data.FullSD_Proj_newContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="tripdetailstypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TripDetailsType">
    <PropertyColumn Property="tripdetailstype => tripdetailstype.Note" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.Activity" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.Accomodation" Title="Accomodation" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.Transport" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.DateCreated" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.DateUpdated" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.CreatedBy" />
    <PropertyColumn Property="tripdetailstype => tripdetailstype.UpdatedBy" />

    <TemplateColumn Context="tripdetailstype">
        <a href="@($"tripdetailstypes/edit?id={tripdetailstype.Id}")">Edit</a> |
        <a href="@($"tripdetailstypes/details?id={tripdetailstype.Id}")">Details</a> |
        <a href="@($"tripdetailstypes/delete?id={tripdetailstype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FullSD_Proj_newContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

     
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
